<div class="app_container text-center">
	<h1 class="todos__heading">Welcome to My Todo's App</h1>
	<p class="text-detail">Click <a href="/todos">here</a> to navigate to todos page</p>
	<hr>
	<p class="text-detail">Made by ravinder singh</p>
</div>