@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #453c52;
}
.todos__main {
	max-width: 450px;
	margin: 0 auto;
	margin-top: 30px;
}
.todos__heading {
	color: #453c52;
	font-weight: bold;
	font-size: 34px;
	margin: 15px 0;
	padding-left: 5px;
}
.todos__list {
	margin: 15px 0;
}
.todos__list-name {
	display: flex;
	margin-left: 10px;
}
.todos__list-title {
	color: #453c52;
}
.todos__list-contents {
	margin-left: 25px;
}
.todos__list-contents li {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 10px 0;
	padding: 3px 8px;
}
.todos__list-contents li:hover {
	background-color: #f1edf7;
	border-radius: 5px;
}
.todos__list-contents li:hover .todos__item-delete {
	visibility: visible;
}
.todos__add {
	display: flex;
	height: 30px;
	align-items: stretch;
	margin-bottom: 30px;
}
.todos__add input {
	margin: 0 5px;
	border: 2px solid #bfb8cc;
	border-radius: 4px;
	padding: 2px 10px;
}
.todos__add #todo_text {
	min-width: 230px;
}
.btn {
	background-color: #48bb78;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 0 5px;
	padding: 0 20px;
	color: white;
	font-size: 15px;
	cursor: pointer;
}
.todos__list-title {
	color: #453c52;
	font-weight: bolder;
	font-size: 20px;
}
.todos__list-status {
	margin-left: 10px;
	align-self: center;
}
.todos__item-status {
	font-size: 13px;
}
.todos__item-delete {
	visibility: hidden;
	display: inline-flex;
	align-items: center;
}
.todos__item-delete img {
	height: 20px;
	filter: hue-rotate(90deg);
}
.todo__overdue {
	color: tomato;
}
.text-strike{
	text-decoration: line-through;
}
